################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/JameelPortFolio/Web/obj/Debug/netcoreapp3.1
