################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/JameelPortFolio/Web/obj/Debug/netcoreapp3.1
/JameelPortFolio/Web/obj
/JameelPortFolio/Infrastructure/obj
/JameelPortFolio/Core/obj
/JameelPortFolio/.vs/JameelPortFolio/v16
/JameelPortFolio/Web/bin/Debug/netcoreapp3.1
